p {
  margin: 0px;
}
.checkitem__body {
  display: flex;
  margin: 10px;
  padding: 20px;
  max-width: fit-content;
  transition-delay: 0.4s;
}
.checkitem__body > img {
  object-fit: contain;
  max-height: 200px;
  min-width: 200px;
  margin-bottom: 15px;
  margin-right: 30px;
  display: flex;
  /* border: 1px solid; */
}
.info {
  height: 100px;
  margin-bottom: 10px;
  width: 100%;
}
.price {
  margin-top: 5px;
}
.info > button {
  /* background: #f0c14b; */
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border: 1px solid;
  margin-top: 10px;
  color: #111;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 3px;
  cursor: pointer;
  padding: 2px 6px 2px 7px;
}
.info > button:hover {
  background: linear-gradient(to bottom, #f7dfa5, #f1b724);
}
.info > button > span {
  /* font-size: 11px; */
  font-family: Amazon;
  text-align: center;
}
