p {
  margin: 0px;
}
.product__body {
  display: flex;
  flex-direction: column;
  background-color: white;
  /* border-radius: 5px; */
  margin: 10px;
  padding: 20px;
  flex: 1;
  align-items: center;
  max-height: 400px;
  min-width: 100px;
  justify-content: flex-end;
  font-family: Amazon;
}
.product__body > img {
  object-fit: contain;
  max-height: 200px;
  width: 100%;
  /* width: 50vw; */
  margin-bottom: 15px;
  display: flex;
  /* border: 1px solid; */
}
.info {
  height: 100px;
  margin-bottom: 10px;
  width: 100%;
}
.price {
  margin-top: 5px;
}
.product__body > button {
  /* background: #f0c14b; */
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border: 1px solid;
  margin-top: 10px;
  color: #111;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 3px;
  cursor: pointer;
  padding: 2px 6px 2px 7px;
}
.product__body > button:hover {
  background: linear-gradient(to bottom, #f7dfa5, #f1b724);
}
.product__body > button > span {
  /* font-size: 11px; */
  font-family: Amazon;
  text-align: center;
}
